*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body, html{
    height:100;
    max-height: 100vh;
    background-color: var(--black);
    overflow-y: clip;
}
::-webkit-scrollbar {
	background: transparent;
	width: 5px;
	border:1px solid transparent;
}
::-webkit-scrollbar-thumb {
	border-radius: .4rem;
	background: var(--black-weak);
}
:root{
    --black:#121216;
    --black-strong:#111215;
    --black-weak:#191a1e;
    --black-weak-in:#292a33;
    --black-very-weak:#2b2d36;
    --orange:#ff5833;
    --blue:#2295ff;
    --purple:#7622ff;
    --yellow:#ffb51f;
    --green:#4dea32;
    --rad:#fe4a3f;
    --white:#fff;
    --white-weak:#f9f9f9;
    --gray:#595966;
}
h1,h2,h3,h4,h5,h6{
    color:var(--white);
    font-size: 1.3rem;
    font-weight: 400;
}
h3{
    font-size: 1.1rem;
}
h4{
    font-size: 1rem;
}
h5, h6{
    font-size: 0.9rem;
}
p{
    color:var(--gray);
    font-size: 0.9rem;
    font-weight: 400;
}
p.small{
    font-size: 0.8rem;
}
p.tiny{
    font-size: 0.7rem;
}
a{
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
}
ul, nav{
    list-style-type: none;
}
i{
    color: var(--gray);
    font-size: 1.2rem;
}
img{
    object-fit: cover;
    width:100%;
}
*:focus{
    outline: 0;
}
button, .button{
    background-color: var(--black-weak);
    border: 0;
    height:30px;
    min-width: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    color: var(--gray);
    border-radius: 30px;
    cursor: pointer;
}
.btn-input{
    height: 38px;
}
.button i{
    color:var(--white)
}
input, select, textarea, input[type="file"]::-webkit-file-upload-button{
    background-color: var(--black-weak);
    border-radius: 12px;
    height: 38px;
    border:0;
    padding:0 1rem;
    color: var(--gray);
}
form.search button{
    position:absolute;
    background-color: unset;
}
form.search input{
    background-color: var(--black-strong);
    padding-left: 2rem;
}
/* CLASSES GLOBAIS */
.style-none{
    background-color: unset;
    border-radius: unset;
}
.limit-line-clamp-one{
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.font-size-bigger{
    font-size: 2rem;
    line-height: 1.4;
}
.bg-purple{
    background-color: var(--purple);
}
.bg-black-very-weak{
    background-color: var(--black-very-weak);
}
.center{
    margin: 0 auto;
}
.text-center{
    text-align:center;
}
.text-right{
    text-align: right;
}
.items-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.align-end{
    align-items: flex-end;
}
.just-center{
    justify-content: center;
}
.just-end{
    justify-content: flex-end;
}
.just-space-between{
    justify-content: space-between;
}
.just-space-around{
    justify-content: space-around;
}
.just-space-evenly{
    justify-content: space-evenly;
}
.pos-relative{
    position: relative;
}
.min-70vh{
    min-height: 70vh;
}
.h100{
    min-height: 100%;
}
.w100{
    width: 100%;
}
.w95{
    width: 95%;
}
.w90{
    width: 90%;
}
.w85{
    width: 85%;
}
.w80{
    width: 80%;
}
.w78{
    width: 78%;
}
.w75{
    width: 75%;
}
.w70{
    width: 70%;
}
.w60{
    width: 60%;
}
.w50{
    width: 50%;
}
.w48{
    width: 48%;
}
.w40{
    width: 40%;
}
.w30{
    width: 30%;
}
.w25{
    width: 25%;
}
.w22{
    width: 22%;
}
.w20{
    width: 20%;
}
.w15{
    width: 15%;
}
.w10{
    width: 10%;
}
.padding-default{
    padding:1rem;
}
.padding-small{
    padding:0.8rem 0.5rem;
}
.margin-default{
    margin: 1rem;
}
.margin-top-tiny{
    margin-top: 0.2rem;
}
.margin-bottom-tiny{
    margin-bottom: 0.2rem;
}
.margin-right-tiny{
    margin-right: 0.5rem;
}
.margin-left-tiny{
    margin-left: 0.5rem;
}
.margin-top-small{
    margin-top: 1rem;
}
.margin-bottom-small{
    margin-bottom: 1rem;
}
.margin-right-small{
    margin-right: 1rem;
}
.margin-left-small{
    margin-left: 1rem;
}
.margin-top-default{
    margin-top: 2.2rem;
}
.margin-bottom-default{
    margin-bottom: 2.2rem;
}
.margin-right-default{
    margin-right: 2rem;
}
.margin-left-default{
    margin-left: 2rem;
}
.margin-bottom-bigger{
    margin-bottom:8vh;
}
.border-bottom-default{
    border-bottom: 1px solid var(--black-very-weak);
    padding: 0.5rem 0;
}
/* DETAILS */
div.logo span{
    width: 10px;
    height: 10px;
    box-shadow: 0 0 10px var(--gray);
    border-radius: 50%;
    background-color: var(--rad);
}
div.logo span:nth-of-type(2){
    background-color: var(--yellow);
    margin: 0 0.4rem;
}
div.logo span:nth-of-type(3){
    background-color: var(--green);
}
.box{
    background-color: var(--black-weak);
    padding: 1rem;
    border-radius: 10px;
    box-shadow:0 0 3px var(--black-weak-in);
    transition: all 0.3s;
    position: relative;
}
.item{
    background-color: var(--black-weak-in);
    padding: 1rem;
    border-radius: 10px;
    box-shadow:0 0 3px var(--black-weak-in);
    transition: all 0.3s;
    position: relative;
}
.style-none{
    background-color: unset;
    padding:unset;
    border:unset;
    height:unset;
}
/* FIGURES AND IMAGES */
figure.img-small-user img{
    border-radius: 50%;
    width:38px;
    height:38px;
}
figure.img-default-user img{
    border-radius: 10px;
    width: 180px;
    height:180px;
}
figure.img-bigger-user img{
    border-radius: 50%;
    width: 240px;
    height:240px;
}
figure.img-little-small-user img{
    border-radius: 50%;
    width:30px;
    height:30px;
}
figure.img-bigger img{
    border-radius: 50%;
    width: 110px;
    height: 110px;
}
label.content-image{
    border:2px dotted var(--black-very-weak);
    border-radius: 8px;
    width:200px;
    height:200px;
    display: flex;
    align-items:center;
    justify-content:center;
}
label.content-image i{
    font-size: 4rem;
}
div.alert {
    background-color: var(--black-very-weak);
    padding:0.8rem 0.9rem;
    border-radius: 8px;
    width: auto;
    position: fixed;
    top:10%;
    right:5%;
}
div.alert p{
    color: var(--white);
}
div.divisor{
    height:10vh;
}
button.bg-purple{
    color:var(--white);
}
form.form-header label, form.form-header button{
    display:flex;
    align-items: center;
    justify-content: center;
}
/* ANIMATIONS */
div.alert{
    animation: fadeIn 0.4s ease-in both;
    z-index: 999;
}
div.alert.error{
    background-color: var(--rad);
}
div.alert.success{
    background-color: var(--green);
}
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 0, -20%);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translate3d(-20%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@media screen and (min-width: 1080px){
    .hide-device-bigger{
        display:none;
    }
}

@media screen and (max-width: 1080px){
    .w100-device-small{
        width:100%;
    }
    .w90-device-small{
        width:90%;
    }
    .w80-device-small{
        width:80%;
    }
    .w60-device-small{
        width:60%;
    }
    .w50-device-small{
        width:50%;
    }
    .hide-device-small{
        display:none;
    }
    .flex-wrap-device-small{
        flex-wrap: wrap;
    }
    .margin-bottom-default-device-small{
        margin-bottom: 3rem;
    }
    .margin-bottom-small-device-small{
        margin-bottom: 1.5rem;
    }
    main{
        flex-wrap: wrap;
    }
    figure.img-default-user img{
        width: 140px;
    }
}